<div>
  <div class="clickable to-settings">
    <h4>demado</h4>
  </div>
  <blockquote>
    けっこう重要なおしらせ: 近いうちに大リニューアルするので、びっくりしないでください。
    Permissionsまわりも変更になりますので、一時的にchrome://extensionsから無効化されると思います。
    いろいろ詳しいことは<a href="https://twitter.com/otiai10" target="_blank">開発者</a>までお問い合わせください。
    新しいのはズームとかできるようになります。
    <a href="https://github.com/otiai10/demado/commits/master" target="_blank">ソースコード</a>参照。
  </blockquote>
</div>
